<div class="row">
  <div class="col-sm-6">
    <div class="card bg-dark text-white">
    <h5 class="card-header">Latest orders</h5>
      <div class="card-body">
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-dark text-white">

     <h5 class="card-header">Friends activity</h5>
      <div class="card-body">

      </div>


    </div>
  </div>
</div>