<div class="container flex-grow-1">
    <div class="mt-0">
        <h1 class="text-center fw-bold">Orders</h1>
    </div>
     <table class="table table-dark">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order</th>
            <th scope="col">Resturant</th>
            <th scope="col">Invited</th>
            <th scope="col">Joined</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="3">Actions</th>
        </tr>
        </thead>
    </table>
    <div class="col-md-4" style="margin: 10px;">
        <%= link_to "Start New Order", "/orders/new" , class: "btn btn-primary"%>
    </div>
</div>